* {box-sizing: border-box;}

body {margin:20px;
  padding:20px;
  font-size: 40px;
  font-family: 'Special Elite', cursive;
  background-image:url(../images/blank-canvas-texture-4.jpg);}

body {
  padding:30px;
  margin:0px;
}

/* LAYOUT */

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr); /* change 4 to 3 if you want 3 cols, etc */
  grid-gap:20px;
  align-items:center;
  margin-bottom:50px;
}

.gallery-image {
  display:block;
  width:100%;
  border:2px solid #000;
}

.gallery-subheader {
  background-color:#333;
  color:#fff;
  padding:10px;
  margin-bottom:20px;
}

ul {
  list-style-type: none;
  font-size: 18px;
  margin: 10px;
  padding: 10px;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  color: #111;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

img {
  width: 362px;
}

hr {
    border: none;
    height: 2px;
    color: #333;
    background-color: #333;
}

footer  {text-align: center;
        font-size: 15px}

/* for mobile only */
@media only screen and (max-width: 767px) {

  p {color:blue;
    align-items:center;}

  .gallery-grid {
    grid-template-columns: 1fr;
  }

}
